@import url(../../node_modules/purecss/build/pure.css);

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

body {
    color: #333;
}

.joyride-header,
.joyride-footer {
    position: fixed;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.joyride-header {
    top: 0;
    height: 3rem;
}
.joyride-header h1 {
    margin: 0;
    text-transform: uppercase;
}

.joyride-main {
    background: white;
    position: fixed;
    top: 3rem;
    bottom: 5rem;
    width: 100%;
    overflow: auto;
}

.joyride-footer {
    bottom: 0;
    height: 5rem;
    /*min-height: 5rem;*/
    /*max-height: 5rem;*/
    /*transition: max-height 500ms ease;*/
}
.joyride-footer.open {
    /*max-height: 80vh;*/
    height: auto;
}
.joyride-footer-expander {
    height: 1rem;
    margin-top: -1rem;
}

.joyride-footer-items {
    padding: 1rem;
    box-sizing:border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: flex-end;
    transform: translateY(-100%);
    position: relative;
    top: 5em;
}
.joyride-footer.open .joyride-footer-items {
    position: static;
    transform: initial;
}
.joyride-footer-items > * {
    margin: 1em;
}
.joyride-footer > * > .ros-layer-color {
    overflow: hidden;
}
