#status-display {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    color: #444;
    z-index: 100;
    pointer-events: none;
    vertical-align: center;
    white-space: pre;
}

#status-display:before {
    display: inline-block;
    margin-right: 0.25em;
    width: 1em;
    text-align: center;
    font-size: 2em;
    line-height: 0.5em;
    vertical-align: -25%;
}

#status-display[data-status="Loading"]:before {
    content: "✿";
    color: green;
    animation: spin 6s linear infinite;
}

#status-display[data-status="Connecting"]:before {
    content: "❀";
    color: green;
    animation: spin 6s linear infinite;
}

#status-display[data-status="Error"] {
    white-space: pre;
}
#status-display[data-status="Error"]:before {
    color: red;
    content: "⚠︎";
}

#status-display[data-status="OK"] {
    opacity: 0;
    transition: opacity 300ms linear;
}
#status-display[data-status="OK"]:before {
    content: "✓";
    color: green;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
